body {
    background-color: aqua;
}

.flex-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    flex-flow: row wrap;
}

.caja {
    border: 1px solid rgb(70, 69, 69);
    width: 120px;
    height: 120px;
    text-align: center;

}
.c1{
    background-color: white;
    flex-grow: 1;
    flex-basis: 50%;
}
.c2{
    background-color:blue;
    flex-grow: 1;
    flex-basis: 50%;
}
.c3{
    background-color:burlywood;
    flex-grow: 1;
    flex-basis: 50%;
}
.c4{
    background-color:coral;
    flex-grow: 1;
    flex-basis: 50%;
}